<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Tables</title>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <app-mobile-header></app-mobile-header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <app-left-menu></app-left-menu>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
           <app-header-web></app-header-web>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div><ngx-spinner></ngx-spinner></div>
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                       
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h2 *ngIf="!isSeeAllOrder"><b>Các mẫu của đơn hàng <span style="color: rgb(1, 165, 42);">{{orderListName}} - ({{numberOfOrder}} mẫu)</span></b></h2>
                                <h2 *ngIf="isSeeAllOrder"><b>Tất cả các mẫu: ({{numberOfOrder}} mẫu)</b></h2>
                                <div class="table-responsive table-responsive-data2">
                                    <div class="table-data__tool">
                                        <div class="table-data__tool-left">
                                        </div>
                                        <div class="table-data__tool-right" *ngIf="!isSeeAllOrder">
                                            <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#orderModal">
                                                <i class="zmdi zmdi-plus"></i>Thêm mẫu</button>
                                        </div>
                                    </div>
                                    <table class="table table-data2" style="width: 100%;">
                                        <thead>
                                            <tr style="text-align: center;">
                                                <th class="col-md-2" style="width: 10%;">Tên mẫu</th>
                                                <th class="col-md-2" style="width: 15%;">Ghi chú</th>
                                                <th class="col-md-2" style="width: 5%;">Số lượng</th>
                                                <th class="col-md-2" style="width: 10%;">Giá</th>
                                                <th class="col-md-3" style="width: 7%;">Chưa làm</th>
                                                <th class="col-md-3" style="width: 7%;">Cắt</th>
                                                <th class="col-md-3" style="width: 7%;">Chi tiết</th>
                                                <th class="col-md-3" style="width: 7%;">Chà hàng</th>
                                                <th class="col-md-3" style="width: 7%;">Kiểm xuất</th>
                                                <th class="col-md-3" style="width: 7%;">Hoàn thiện</th>
                                                <th class="col-md-1" style="width: 9%;">Detail</th>
                                                <th class="col-md-1" style="width: 9%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="tr-shadow" style="text-align: center;" *ngFor="let order of lstOrder | paginate: { itemsPerPage: 10, currentPage: currentPage }">
                                                <td style="width: 10%;">{{order.orderName}}</td>
                                                <td style="width: 15%;">{{order.note}}</td>
                                                <td style="width: 5%;">
                                                    <span class="block-email">{{order.quantity}}</span>
                                                </td>
                                                <td style="width: 10%;">{{order.price | number}} VNĐ</td>
                                                
                                                
                                                <td style="width: 7%;">
                                                    <span style="color: red;">{{order.phases.phaseOne}}</span>
                                                </td>
                                                <td style="width: 7%;">
                                                    <span style="color: rgb(6, 119, 134);">{{order.phases.phaseTwo}}</span>
                                                </td>
                                                <td style="width: 7%;">
                                                    <span style="color: rgb(158, 118, 9);">{{order.phases.phaseThree}}</span>                                                </td>
                                                <td style="width: 7%;">
                                                    <span style="color: rgb(80, 117, 5);">{{order.phases.phaseFour}}</span>
                                                </td>
                                                <td style="width: 7%;">
                                                    <span style="color: green;">{{order.phases.phaseFive}}</span>                                                </td>
                                                <td style="width: 7%;">
                                                    <span style="color: rgb(3, 71, 26);">{{order.phases.phaseCompleted}}</span>
                                                </td>

                                                <td style="width: 9%;">
                                                    <span class="status--process"><a [routerLink]="['/']" routerLinkActive="router-link-active"data-toggle="modal" data-target="#assignWorker" (click)="seeProgess(order)">Detail</a></span>
                                                </td>
                                                <td style="width: 9%;">
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="tooltip" data-placement="top" (click)="viewProcess(order.orderName, order.id)" title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                                    <p>Copyright © 2020 PhuoChi. All rights reserved. Template by <a href="https://colorlib.com">PhuoChi</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="mediumModalLabel" style="font-weight: bold;">Thêm mẫu</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formCreateOrder">
                        <div class="form-group">
                            <label for="cc-payment" class="control-label mb-1">Tên mẫu</label>
                            <input id="cc-pament" type="text" class="form-control" formControlName = "name">
                        </div>
                        <div class="form-group has-success">
                            <label for="cc-name" class="control-label mb-1">Mô tả</label>
                            <input id="cc-name"  type="text" class="form-control cc-name valid" formControlName = "desc">
                        </div>
                        <div class="form-group has-success">
                            <label for="cc-name" class="control-label mb-1">Ghi chú</label>
                            <input id="cc-name"  type="text" class="form-control cc-name valid" formControlName = "note">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-exp" class="control-label mb-1">Số lượng</label>
                                    <input id="cc-exp" type="number" class="form-control cc-exp" formControlName = "quantity">
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="x_card_code" class="control-label mb-1">Giá</label>
                                <div class="input-group">
                                    <input id="x_card_code"  type="number" class="form-control cc-cvc" formControlName = "price">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" type="submit" (click)="createOrder()">Thêm</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="assignWorker" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true" *ngIf="isSeeProcess">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="mediumModalLabel" style="font-weight: bold;">Tiến độ</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-top-campaign">
                            <tbody>
                                <tr>
                                    <td style="color: coral;">Tổng</td>
                                    <td style="color: coral;">{{orderDetail.quantity}} thiệp</td>
                                </tr>
                                <tr>
                                    <td style="color: red;">Chưa làm</td>
                                    <td style="color: red;">{{progessDetail.notDo}} thiệp</td>
                                </tr>
                                <tr>
                                    <td style="color: green;">Hoàn thành</td>
                                    <td style="color: green;">{{progessDetail.completed}} thiệp</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="table-responsive" style="border: 1px solid #d3d3d3; border-radius: 10px;">
                        <h3 class="title-3 m-b-30" style="border-bottom: 1px solid #d3d3d3;text-align: center;"><b>Cắt - <span style="color: red;">Chưa phân công: {{progessDetail.twoNotDo}} thiệp</span></b>-----<a href="" data-toggle="modal" data-target="#assignModal" (click)="setPhase('Phase_two',progessDetail.notDo)" >Thêm người làm</a></h3>
                        <table class="table table-top-campaign">
                            <tbody>
                                <tr *ngFor="let workerPhase of progessDetail.phaseTwo">
                                    <td>{{workerPhase.worker.fullName}}</td>
                                    <td>{{workerPhase.quantity}} thiệp</td>
                                    <td *ngIf="workerPhase.status == 'Đang làm'"><span style="color:red ;">{{workerPhase.status}}</span></td>
                                    <td *ngIf="workerPhase.status == 'Đã xong'"><span style="color: #63c76a;">{{workerPhase.status}}</span></td>
                                    <td>
                                        <button *ngIf="workerPhase.status == 'Đang làm'" class="au-btn au-btn-icon au-btn--green au-btn--small" (click)="confirmCompletedJob(workerPhase.id)">√</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   <br><br>
                    <div class="table-responsive" style="border: 1px solid #d3d3d3; border-radius: 10px;">
                        <h3 class="title-3 m-b-30" style="border-bottom: 1px solid #d3d3d3;text-align: center;"><b>Chi tiết - <span style="color: red;">Chưa phân công: {{progessDetail.threeNotDo}} thiệp</span></b>-----<a href="" data-toggle="modal" data-target="#assignModal" (click)="setPhase('Phase_three', progessDetail.threeNotDo)">Thêm người làm</a></h3>
                        <table class="table table-top-campaign">
                            <tbody>
                                <tr *ngFor="let workerPhase of progessDetail.phaseThree">
                                    <td>{{workerPhase.worker.fullName}}</td>
                                    <td>{{workerPhase.quantity}} thiệp</td>
                                    <td *ngIf="workerPhase.status == 'Đang làm'">{{workerPhase.status}}</td>
                                    <td *ngIf="workerPhase.status == 'Đã xong'"><span style="color: green;">{{workerPhase.status}}</span></td>
                                    <td>
                                        <button *ngIf="workerPhase.status == 'Đang làm'" class="au-btn au-btn-icon au-btn--green au-btn--small" (click)="confirmCompletedJob(workerPhase.id)">√</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                    <div class="table-responsive" style="border: 1px solid #d3d3d3; border-radius: 10px;">
                        <h3 class="title-3 m-b-30" style="border-bottom: 1px solid #d3d3d3;text-align: center;"><b>Chà hàng - <span style="color: red;">Chưa phân công: {{progessDetail.fourNotDo}} thiệp</span></b>-----<a href="" data-toggle="modal" data-target="#assignModal" (click)="setPhase('Phase_four',progessDetail.fourNotDo)">Thêm người làm</a></h3>
                        <table class="table table-top-campaign">
                            <tbody>
                                <tr *ngFor="let workerPhase of progessDetail.phaseFour">
                                    <td>{{workerPhase.worker.fullName}}</td>
                                    <td>{{workerPhase.quantity}} thiệp</td>
                                    <td *ngIf="workerPhase.status == 'Đang làm'">{{workerPhase.status}}</td>
                                    <td *ngIf="workerPhase.status == 'Đã xong'"><span style="color: green;">{{workerPhase.status}}</span></td>
                                    <td>
                                        <button *ngIf="workerPhase.status == 'Đang làm'" class="au-btn au-btn-icon au-btn--green au-btn--small" (click)="confirmCompletedJob(workerPhase.id)">√</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                    <div class="table-responsive" style="border: 1px solid #d3d3d3; border-radius: 10px;">
                        <h3 class="title-3 m-b-30" style="border-bottom: 1px solid #d3d3d3;text-align: center;"><b>Kiểm xuất - <span style="color: red;">Chưa phân công: {{progessDetail.fiveNotDo}} thiệp</span></b>-----<a href="" data-toggle="modal" data-target="#assignModal" (click)="setPhase('Phase_five',progessDetail.fiveNotDo)">Thêm người làm</a></h3>
                        <table class="table table-top-campaign">
                            <tbody>
                                <tr *ngFor="let workerPhase of progessDetail.phaseFive">
                                    <td>{{workerPhase.worker.fullName}}</td>
                                    <td>{{workerPhase.quantity}} thiệp</td>
                                    <td *ngIf="workerPhase.status == 'Đang làm'">{{workerPhase.status}}</td>
                                    <td *ngIf="workerPhase.status == 'Đã xong'"><span style="color: green;">{{workerPhase.status}}</span></td>
                                    <td>
                                        <button *ngIf="workerPhase.status == 'Đang làm'" class="au-btn au-btn-icon au-btn--green au-btn--small" (click)="confirmCompletedJob(workerPhase.id)">√</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!--ADD PHASE WORKER-->
    <div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="mediumModalLabel" style="font-weight: bold;">Giao việc</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formAssign">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="cc-exp" class="control-label mb-1">Nhân viên</label>
                                <select name="select" id="select" class="form-control" (change)="selectOptionUser($event.target.value)">
                                    <option value="0">Chọn nhân viên</option>
                                    <option value= {{user.id}} *ngFor="let user of lstUser">{{user.fullName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="cc-exp" class="control-label mb-1">Số lượng</label>
                            <input id="x_card_code" min = "min" max = "max" type="number" class="form-control cc-cvc" formControlName="quantity">
                        </div>
                    </div>
                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" type="submit" (click)="assignJob()">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<!-- end document-->