<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
      <div class="container-fluid">
        <div class="header-mobile-inner">
          <a class="logo" href="#">
            <img src="../../../../assets/images/icon/logo.png" alt="CoolAdmin" />
          </a>
          <button class="hamburger hamburger--slider" type="button">
            <span class="hamburger-box">
              <a [routerLink]="['/cis/customer-management']" routerLinkActive="router-link-active" ><span><i class="far fa-check-square"></i></span></a>
            </span>
          </button>
          <button class="hamburger hamburger--slider" type="button">
            <span class="hamburger-box">
              <a [routerLink]="['/cis/order-list-management/all']" routerLinkActive="router-link-active" ><span><i class="fas fa-chart-bar"></i></span></a>
            </span>
          </button>
          <button class="hamburger hamburger--slider" type="button">
            <span class="hamburger-box">
              <a [routerLink]="['/cis/order-management/all']" routerLinkActive="router-link-active" ><span><i class="fas fa-map-marker-alt"></i></span></a>
            </span>
          </button>
          <button class="hamburger hamburger--slider" type="button">
            <span class="hamburger-box">
                <a [routerLink]="['/cis/user-management']" routerLinkActive="router-link-active" ><span><i class="fas fa-table"></i></span></a>
            </span>
          </button>
        </div>
      </div>
    </div>
  </header>