<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Tables</title>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- END HEADER MOBILE-->
        <app-mobile-header></app-mobile-header>
        <!-- MENU SIDEBAR-->
        <app-left-menu></app-left-menu>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <app-header-web></app-header-web>

            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                       
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h2><b>Danh sách nhân viên</b></h2>
                                <div class="table-responsive table-responsive-data2">
                                    <div class="table-data__tool">
                                        <div class="table-data__tool-left">
                                        </div>
                                        <div class="table-data__tool-right">
                                            <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#createUserModal">
                                                <i class="zmdi zmdi-plus"></i>Thêm nhân viên</button>
                                        </div>
                                    </div>
                                    <table class="table table-data2" style="width: 100%;">
                                        <thead>
                                            <tr style="text-align: center;">
                                                <th class="col-md-2" style="width: 15%;">Tên đăng nhập</th>
                                                <th class="col-md-2" style="width: 15%;">Tên đầy đủ</th>
                                                <th class="col-md-2" style="width: 15%;">Mật khẩu</th>
                                                <th class="col-md-2" style="width: 15%;">Số điện thoại</th>
                                                <th class="col-md-3" style="width: 15%;">Chức vụ</th>
                                                <th class="col-md-1" style="width: 15%;">Trạng thái</th>
                                                <th class="col-md-1" style="width: 10%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="tr-shadow" style="text-align: center;" *ngFor="let user of lstUser  | paginate: { itemsPerPage: 10, currentPage: currentPage }">
                                                <td>{{user.userName}}</td>
                                                <td>{{user.fullName}}</td>
                                                <td>{{user.password}}</td>
                                                <td class="desc">{{user.phone}}</td>
                                                <td>
                                                    <span *ngIf="user.role == 'ADMIN'">Quản lí</span>
                                                    <span *ngIf="user.role == 'WORKER'">Nhân viên</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="user.status == true" class="role admin"><a style="color: white;" href="javascript:void(0)" (click)="seeWorkingDetail(user.id)">Làm việc</a></span>
                                                    <span *ngIf="user.status == false" class="role member"><a style="color: white;" href="javascript:void(0)" (click)="seeWorkingDetail(user.id)">Rảnh</a></span>
                                                </td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr> 
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                                    <p>Copyright © 2020 PhuoChi. All rights reserved. Template by <a href="https://colorlib.com">PhuoChi</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="mediumModalLabel" style="font-weight: bold;">Thêm khách hàng</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formCreateNewUser" (ngSubmit)="createNewUser()">
                        <div class="form-group">
                            <label for="cc-payment" class="control-label mb-1">Tên đầy đủ</label>
                            <input id="cc-pament" type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-exp" class="control-label mb-1">Tên đăng nhập</label>
                                    <input id="cc-exp" type="text" class="form-control cc-exp"  formControlName="userName">
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="x_card_code" class="control-label mb-1">Mật khẩu</label>
                                <div class="input-group">
                                    <input id="x_card_code"  type="tel" class="form-control cc-cvc"  formControlName="password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-exp" class="control-label mb-1">Điện thoại</label>
                                    <input id="cc-exp" type="text" class="form-control cc-exp"  formControlName="phone">
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="cc-exp" class="control-label mb-1">Chức vụ</label>
                                <select name="select" id="select" class="form-control" (change)="selectOption($event.target.value)">
                                    <option value="0">Chọn chức vụ</option>
                                    <option value="ADMIN">Quản lí</option>
                                    <option value="WORKER">Nhân viên</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" type="submit" (click)="createNewUser()">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<!-- end document-->
