<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Tables</title>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <app-mobile-header></app-mobile-header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <app-left-menu></app-left-menu>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <app-header-web></app-header-web>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div><ngx-spinner></ngx-spinner></div>
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h2><b>Danh sách khách hàng</b></h2>
                                <div class="table-responsive table-responsive-data2">
                                    <div class="table-data__tool">
                                        <div class="table-data__tool-left">
                                        </div>
                                        <div class="table-data__tool-right">
                                            <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#createCustomerModal" (click)="setCreateNew()">
                                                <i class="zmdi zmdi-plus"></i>Thêm khách hàng</button>
                                        </div>
                                    </div>
                                    <table class="table table-data2" style="width: 100%;">
                                        <thead>
                                            <tr style="text-align: center;">
                                                <th class="col-md-2" style="width: 25%;">Tên</th>
                                                <th class="col-md-2" style="width: 10%;">Email</th>
                                                <th class="col-md-2" style="width: 10%;">Số điện thoại</th>
                                                <th class="col-md-3" style="width: 20%;">Ghi chú</th>
                                                <th class="col-md-3" style="width: 20%;">Địa chỉ</th>
                                                <th class="col-md-3" style="width: 5%;">Đã đặt hàng</th>
                                                <th class="col-md-1" style="width: 5%;"></th>
                                                <th class="col-md-1" style="width: 5%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="tr-shadow" style="text-align: center;" *ngFor="let cus of lstCustomer | paginate: { itemsPerPage: 10, currentPage: currentPage }">
                                                <td style="width: 25%;">{{cus.customerName}}</td>
                                                <td style="width: 10%;">
                                                    <span class="block-email">{{cus.email}}</span>
                                                </td>
                                                <td class="desc" style="width: 10%;">{{cus.phone}}</td>
                                                <td style="width: 20%;">{{cus.note}}</td>
                                                <td style="width: 20%;">{{cus.customerAddress}}</td>
                                                <td  style="padding: 0px;width: 5%;">
                                                    <a href="javascript:void(0)" (click)="viewOrder(cus.customerName, cus.id)"><span *ngIf="cus.order == true"  class="role member">{{cus.orderListQuantity}} đơn</span></a>
                                                    <a href="javascript:void(0)" (click)="viewOrder(cus.customerName, cus.id)"><span *ngIf="cus.order == false"  class="role admin">Không</span></a>
                                                </td>
                                                <td style="width: 5%;">
                                                    <span *ngIf="cus.requiredDesign == true"  class="role member"> <a style="color: white;" [routerLink]="['/cis/design-required-management',cus.id]" routerLinkActive="router-link-active" >Có</a></span>
                                                    <span *ngIf="cus.requiredDesign == false"  class="role admin"><a style="color: white;" [routerLink]="['/cis/design-required-management',cus.id]" routerLinkActive="router-link-active" >Không</a></span>
                                                </td>
                                                <td style="width: 5%;">
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="tooltip" (click) = "setEditedCustomer(cus)" data-toggle="modal" data-target="#createCustomerModal" data-placement="top" title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" data-toggle="modal" data-target="#deleteCustomerModal" (click)="setCustomer(cus.id)">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                            
                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="copyright">
                                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                                    <p>Copyright © 2020 PhuoChi. All rights reserved. Template by <a href="https://colorlib.com">PhuoChi</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="createCustomerModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="mediumModalLabel" style="font-weight: bold;">Thêm khách hàng</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  [formGroup]="formCustomer" (ngSubmit)="createOrUpdateCustomer()">
                        <div class="form-group">
                            <label for="cc-payment" class="control-label mb-1">Tên khách hàng</label>
                            <input id="cc-pament" type="text" class="form-control" formControlName="name" >
                        </div>
                        <div class="form-group has-success">
                            <label for="cc-name" class="control-label mb-1">Ghi chú</label>
                            <input id="cc-name"  type="text" class="form-control cc-name valid" formControlName="note">
                        </div>
                        <div class="form-group has-success">
                            <label for="cc-name" class="control-label mb-1">Địa chỉ</label>
                            <input id="cc-name"  type="text" class="form-control cc-name valid" formControlName="address">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-exp" class="control-label mb-1">Email</label>
                                    <input id="cc-exp" type="text" class="form-control cc-exp"formControlName="email">
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="x_card_code" class="control-label mb-1">Số điện thoại</label>
                                <div class="input-group">
                                    <input id="x_card_code"  type="tel" class="form-control cc-cvc" formControlName="phone">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="setCreateNew()">Hủy</button>
                    <button *ngIf="!isEdited" type="button" class="btn btn-primary" data-dismiss="modal" type="submit" (click)="createOrUpdateCustomer()">Thêm</button>
                    <button *ngIf="isEdited" type="button" class="btn btn-primary" data-dismiss="modal" type="submit" (click)="editCustomer()">Chỉnh sửa</button>
                </div>
            </div>
        </div>
    </div>
    <!--DELETE MODAL-->
    <div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="smallmodalLabel">Xóa khách hàng</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Bạn muốn xóa khách hàng này?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click) ="deleteCustomer()">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<!-- end document-->
